.p1{

    border-width: 1px;
    border-style:solid;
    width:400px;
    margin-top: 20px;
    padding-left:10px;
    padding-top:30px;
    padding-bottom:30px;
}

.p2{

    border-width: 1px;
    border-style:solid;
    width:400px;


}